<html>
	<head>
		<style>
			body 	{background-color: lightgrey;}
			h1		{color:black;}
			p 		{color:grey;}
		</style>
	</head>

	<body>
		<h1>Feels like home</h1>

		<p>Welcome to the home page, to view the about page click below</p>
		<%= link_to 'About', about_path %>

	</body>
</html>